body {
  background: black;
}
#chicken {
  position: relative;
}
.cell {
  position: absolute;
  box-shadow: inset 0px 0px 2px 2px #222;
  height: 100px;
  width: 100px;
  display: block;
  background: #111;
}

.active {
  box-shadow: inset 0px 0px 2px 2px #4ee;
}

.monster {
  background: red;
}
