body {
  background: black;
}
#chicken {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.cell {
  border: 2px solid transparent;
  height: 100px;
  width: 100px;
  display: block;
  background: #111;
}

.active {
  border: 2px solid #4ee;
}

.monster {
  background: red;
}
